* {
	box-sizing: border-box;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-family: 'Anton', sans-serif;
	max-height: 750px;
}
body {
	padding: 15% 25% 30% 25%;
	position: relative;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.author-ctn {
	text-align: left;
	text-indent: 10%;
}

#author {
	font-size: 150%;
	vertical-align: middle;
}

#quote {
	padding: 3%;
	font-size: 200%;
}

#quote-button {
	background-color: white;
	color: #42f45f;
	margin: 0;
	cursor: pointer;
}

.social-btns {
	margin: 0;
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	right: 2%;
}
